* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
.cart-warp {
  width: 90%;
  height: 80%;
  background-color: darkgreen;
  margin: 0 auto;
}
.cart-thead {
  height: 50px;
  background-color: gray;
}
.cart-item {
  height: 150px;
  background-color: green;
}
.cart-thead > div,
.cart-item > div {
  width: 140px;
  line-height: 50px;
  text-align: center;
  float: left;
}
.cart-thead div:nth-child(2),
.cart-item div:nth-child(2) {
  width: 400px;
  line-height: 50px;
  text-align: center;
  float: left;
}
.p-img img {
  width: 100px;
  height: 100px;
}
